

.fotoformulario{
    text-align: center;
    
  }
  
  .formulariocontacto{
    
    background-color: cornflowerblue;
    width: 400px;
    padding: 30px;
    margin:0 auto;
    border:5px coral solid ;
  
  }